/* .container{

} */

body{
    background-image: url('top-view-coffee-cup-notepad-with-mock-up_23-2148578985.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    background-color: black;
    background-blend-mode: luminosity;
}

.heading{
    margin-top: 0%;
    font-size: 5vw;
    color: #3ee0d1;
    text-align: center;
    font-family: 'Nerko One', cursive;
    margin-bottom: 1%;
    
}

#add_task1{
    margin-top: 0%;
    border-radius: 5px;

    font-size: 1.5vw; padding: .5% .5%; background-color:  #ff0053cf; border:none; color: white;
}


.personal_tasks{
    display: inline-block;

}

p{
    font-size: 2vw; margin-bottom: 0%;
}


.del_btn{
    color:black; font-size: 1.3vw;
      border: none; padding: 1%; border-radius: 5px;
}

.edit_btn{
    color:black; font-size: 1.3vw;
      border: none;  padding: 1%; border-radius: 5px;
      margin-right: 3%;

}

.heading1{
    font-size: 3vw;color:  rgb(244 255 24); font-family: 'Nerko One', cursive;
}

#content{
    width:35vw; background: transparent; border: 3px solid  #ff005572;margin-top: 2%; border-radius: 5px; color: #3ee0d1; font-weight:bold;

}
 #add_task1{
     margin: 1%;
 }
    #personal
    {
        width: 40%;
     float: left;
     border: 3PX RED;
     text-align: center;
    }
    #completed
    {
        width: 40%;
        float: right;
       border: 3PX BLUE;
       text-align: center;
    }
