/* .container{

} */


.heading{
    background-color: crimson;
    color: white;
    font-size: 3vw;
    text-align: center;
    
}


.personal_tasks{
    display: inline-block;

}


#delete{
    color:black;
    float: right; background: transparent; border: none; width:10%; height:10%;
}

ol li{
    background-color: cornflowerblue;

    font-size: 1.5vw;
    border: 1px solid red;
    margin-top: 1vw;
}
/* #add_task1{
     */
